* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    outline: none;
}

.container {
    width: 100%;
    height: 100%;
    max-width: 1400px;
    margin-inline: auto;
    padding: 0 95px 0 95px;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
}

/* HEADER STYLES */
.header-main-div {
    margin-block: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-buttons {
    display: flex;
    gap: 48px;
}

.btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #9093A6;
    background-color: inherit;
    display: flex;
    gap: 5px;
    align-items: center;
}

.line-btn {
    width: 48px;
    height: 48px;
    border: 1px solid rgb(245, 238, 238);
    border-radius: 24px;
    text-shadow: rgba(0, 0, 0, 0.08);
    background-color: rgba(255, 255, 255, 1);
}

.line {
    width: 1400px;
    border: 1px solid #D4D7E5;
    margin-inline: auto;
}

/* SECTION1 STYLES */
.section1-main {
    display: flex;
    justify-content: space-between;
}

h1 {
    font-weight: 300;
    font-size: 58px;
    line-height: 64px;
    color: #3F4255;
    max-width: 430px;
    margin-block: 120px 88px;
}

.section-one-box {
    border: 2px solid #FFE145;
    border-radius: 4px;
    width: 117px;
    padding-block: 18px;
    text-align: center;
}

.first-img {
    position: relative;
    top: 380px;
    left: 50px;
}

.mini-box {
    display: flex;
    gap: 24px;
}

h4 {
    font-weight: 700;
    font-size: 16px;
    color: #3F4255;
}

span {
    font-weight: 400;
    font-size: 12px;
    color: #3F4255;
}

.first-img {
    width: 120px;
    height: 160px;
}

.second-img {
    width: 640px;
    height: 640px;
}

.delivery-part {
    padding: 24px 25px 24px 92px;
    width: 872px;
    border: rgba(0, 0, 0, 0.08);
    box-shadow:
        0 -4px 8px rgba(0, 0, 0, 0.15),
        4px 0 8px rgba(0, 0, 0, 0.15),
        0 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 0 5px 5px 0;
    display: flex;
    gap: 46px;
    margin-left: -100px;
}

.text {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: rgba(63, 66, 85, 1);
    max-width: 200px;
}

.service {
    display: flex;
    gap: 10px;
}

/* SECTION TWO STYLES */
.second-div {
    width: 1256px;
    display: flex;
    justify-content: space-between;
}

h2 {
    font-weight: 300;
    font-size: 36px;
    line-height: 64px;
    color: rgba(63, 66, 85, 1);
}

.show-btn {
    width: 110px;
    height: 48px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: rgba(144, 147, 166, 1);
    background-color: rgba(242, 244, 250, 1);
}

.show-btn:active {
    background-color: #303132;
    color: white;
    transition-duration: 0.3s;
}

/* swiper STYLES */
.mySwiper {
    width: 1256px;
    margin-block: 50px;
    display: flex;
    justify-content: space-between;
}

.swiper-slide {
    border-radius: 4px;
    text-align: center;
}

.slide img {
    margin-bottom: 24px;
}

/* SECTION3 STYLES */
.section3-main {
    background-color: #F2F4FA;
    width: 1440px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    padding: 80px 172px;
    align-items: center;
}

.section3-text {
    max-width: 324px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #121232;
    letter-spacing: 0.5%;
    margin-top: 15px;
}

input {
    border-radius: 6px;
    border: none;
    outline: none;
    background-color: white;
    padding: 24px 68px 24px 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(144, 147, 166, 1);
}

.send-btn {
    border-radius: 4px;
    background-color: rgba(183, 156, 16, 1);
    padding: 26px 24px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #dddcd6ff;
}

/* SECTION 4 STYLES */
.section4-main {
    margin-block: 72px;
}

.card {
    width: 145px;
    height: 136px;
    padding: 24px 44px;
    border: 1px solid rgb(249, 247, 247);
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.04),
        1px 4px 12px rgba(0, 0, 0, 0.06);
}

/* SECTION 5 STYLES */
.section5-main {
    background-image: url("/bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    height: 284px;
    margin-inline: auto;
}

.section5 {
    padding: 45px 345px 56px 345px;
    display: flex;
    gap: 70px;
    align-items: center;
    text-align: center;
    margin-inline: auto;
}

.shadow {
    width: 126px;
    height: 126px;
    border-radius: 50%;
    border: 1px solid rgba(183, 156, 16, 1);
    margin-top: -150px;
}

.yellow {
    width: 126px;
    height: 126px;
    border-radius: 50%;
    background-color: rgba(255, 225, 69, 1);
    margin-top: -100px;
}

.section5-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: rgba(63, 66, 85, 1);
    margin-top: 30px;
}

.map {
    max-width: 1440px;
    padding: 72px 85px;
    margin-inline: auto;
}

.images {
    display: flex;
    gap: 20px;
    margin-bottom: 72px;
}

.images img {
    width: 296px;
    height: 299px;
    object-fit: contain;
    border-radius: 6px;
}

.spann {
    font-weight: 300;
    font-size: 36px;
    line-height: 64px;
    color: grey;
}

/* FOOTER STYLES */
.footer-main {
    background-color: rgba(63, 66, 85, 1);
    padding-block: 40px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-line {
    width: 296px;
    border: 1px solid rgba(212, 215, 229, 1);
    margin-block: 48px;
}

.descriptions {
    display: flex;
    gap: 60px;
}

h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: rgba(255, 255, 255, 1);
}

li {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: rgba(212, 215, 229, 1);
    margin-top: 16px;
}

.last-div {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.footer-media {
    display: flex;
    gap: 15px;
}

.footer-nav {
    display: flex;
    gap: 30px;
}

/* DRAWER STYLES */
.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99;
}

.drawer {
    position: fixed;
    top: 0;
    left: -350px;
    right: auto;
    width: 350px;
    height: 100vh;
    background: white;
    z-index: 100;
    padding: 20px;
    transition: 0.3s ease;
    box-shadow: -5px 0 20px rgba(0, 0, 0, 0.15);
}

.drawer.active {
    left: 0;
}

/* RESPONSIVE VERSION FOR TABLET //////////////////////////////////////////////////*/
@media(max-width:768px) {
    .container {
        max-width: 768px;
        padding: 0 20px;
    }

    /* HEADER STYLES */
    .header-main-div {
        margin-block: 5px;
    }

    .header-buttons {
        gap: 15px;
    }

    .btn {
        font-weight: 600;
        line-height: 10px;
    }

    .line-btn {
        width: 40px;
        height: 40px;
        border: none;
        background-color: inherit;
    }

    .line {
        width: 768px;
    }

    /* SECTION1 STYLES */
    .section1-main {
        flex-direction: column;
        align-items: center;
        margin-left: 70px;
    }

    h1 {
        max-width: 600px;
        margin-block: 40px 20px;
    }

    .section-one-box {
        position: relative;
        left: 170px;
    }

    .first-img {
        display: none;
    }

    .mini-box {
        gap: 20;
    }

    .second-img {
        width: 400px;
        height: 400px;
        margin-left: 40px;
        margin-top: 10px;
    }

    .delivery-part {
        padding: 10px 16px 10px 10px;
        width: 750px;
        border-radius: 5px;
        flex-direction: column;
        margin-inline: auto;
        gap: 0;
        margin-top: 10px;
        align-items: center;
    }

    .text {
        font-weight: 700;
        font-size: 20px;
        max-width: 400px;
    }

    .service {
        display: flex;
        gap: 10px;
    }

    /* SECTION TWO STYLES */
    .second-div {
        width: 768px;
        padding: 0 20px;
    }

    /* swiper STYLES */
    .mySwiper {
        width: 768px;
        margin-block: 10px;
    }

    .swiper-slide {
        border-radius: 4px;
        text-align: center;
    }

    .slide img {
        width: 300px;
        margin-bottom: 10px;
        margin-left: 45px;
    }

    /* SECTION3 STYLES */
    .section3-main {
        width: 768px;
        flex-direction: column;
        text-align: center;
        padding: 20px;
        margin-top: -50px;
    }

    .section3-text {
        max-width: 600px;
        margin-top: 0;
    }

    input {
        margin-top: 10px;
        padding: 10px 20px;
    }

    .send-btn {
        padding: 10px 14px;
    }

    /* SECTION 4 STYLES */
    .section4-main {
        margin-block: 10px;
    }

    .card {
        width: 200px;
        height: 150px;
        padding: 24px 20px;
        margin-left: 30px;
    }

    /* SECTION 5 STYLES */
    .section5-main {
        background-size: contain;
        width: 768px;
        margin-top: -50px;
    }

    .section5 {
        gap: 30px;
        margin-left: -120px;
    }

    .shadow {
        width: 60px;
        height: 60px;
        margin-top: -70px;
    }

    .yellow {
        width: 60px;
        height: 60px;
        margin-top: 60px;
    }

    .yellow h1 {
        font-size: 28px;
    }

    .section5-title {
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        margin-top: 20px;
    }

    /* map section */
    .map {
        max-width: 768px;
        margin-inline: auto;
    }

    iframe {
        width: 740px;
        height: 400px;
        margin-top: -40px;
    }

    .seven {
        text-align: center;
    }

    .images {
        margin-bottom: 20px;
    }

    .images img {
        width: 190px;
        height: 170px;
    }

    /* FOOTER STYLES */
    .footer-main {
        width: 768px;
        align-items: center;
        text-align: center;
        padding-block: 20px;
    }

    .footer {
        flex-direction: column;
    }

    .footer-line {
        width: 760px;
        margin-block: 20px;
    }

    .descriptions {
        margin-top: 10px;
    }

    h3 {
        font-weight: 500;
        font-size: 20px;
    }

    li {
        font-weight: 500;
        margin-top: 10px;
    }

    .last-div {
        margin-top: 30px;
    }

    .footer-media {
        display: flex;
        gap: 15px;
    }
}

/* RESPONSIVE VERSION FOR MOBILE PHONE ///////////////////////////////////////////////////////// */
@media(max-width:360px) {
    .container {
        max-width: 360px;
        padding: 0 10px;
        box-sizing: border-box;
    }

    /* HEADER STYLES */
    .header-main-div {
        margin-block: 1px;
    }

    .header-buttons {
        gap: 10px;
    }

    .btn {
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        gap: 3px;
    }

    .line-btn {
        border: none;
        background-color: inherit;
    }

    .line {
        margin-top: -10px;
        width: 360px;
    }

    .logotip {
        width: 100px;
        height: 15px;
    }

    .section1-main {
        flex-direction: column;
        align-items: center;
    }

    h1 {
        font-size: 24px;
        line-height: 24px;
        max-width: 260px;
        margin-block: 0 10px;
    }

    .section-one-box {
        border: 1px solid #FFE145;
        width: 50px;
        padding-block: 8px;
    }

    .first-img {
        top: 110px;
        left: -15px;
        width: 50px;
        height: 50px;
    }

    .second-img {
        width: 150px;
        height: 150px;
        margin-top: 10px;
        margin-left: -40px;
    }

    .mini-box {
        display: flex;
        gap: 10px;
        margin-left: 70px;
    }

    h4 {
        font-weight: 300;
        font-size: 10px;
    }

    span {
        font-size: 8px;
    }

    .delivery-part {
        padding: 10px 16px 10px 10px;
        width: 300px;
        border-radius: 5px;
        flex-direction: column;
        margin-inline: auto;
        gap: 0;
        margin-top: 10px;
    }

    .text {
        font-size: 14px;
        line-height: 18px;
        max-width: 200px;
    }

    .service {
        align-items: center;
        gap: 5px;
    }

    /* SECTION TWO STYLES */
    .second-div {
        width: 340px;
    }

    h2 {
        font-weight: 300;
        font-size: 20px;
        line-height: 20px;
    }

    .show-btn {
        width: 60px;
        height: 20px;
        font-weight: 300;
        font-size: 10px;
    }

    /* swiper STYLES */
    .myySwiper {
        width: 300px;
        margin-block: 20px;
    }

    .mySwiper {
        width: 300px;
        margin-block: 20px;
    }

    .swiper-slide {
        border-radius: 4px;
        text-align: center;
    }

    .slide img {
        margin-bottom: 5px;
        width: 140px;
        height: 70px;
    }

    /* SECTION3 STYLES */
    .section3-main {
        width: 360px;
        padding: 10px;
        flex-direction: column;
        text-align: center;
        align-items: center;
        box-sizing: border-box;
    }

    .section3-h2 {
        max-width: 200px;
    }

    .section3-text {
        max-width: 200px;
        font-size: 12px;
        line-height: 16px;
        margin-block: 15px;
    }

    input {
        padding: 8px 10px;
        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
    }

    .send-btn {
        padding: 7px 10px;
        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
        margin-left: 10px;
    }

    /* SECTION 4 STYLES */
    .section4-main {
        margin-block: 20px;
    }

    .card {
        width: 90px;
        height: 90px;
        padding: 5px;
    }

    .name {
        font-size: 10px;
        line-height: 20px;
    }

    .mySwiper .swiper-button-prev,
    .mySwiper .swiper-button-next {
        width: 20px;
        height: 20px;
        color: rgb(82, 80, 80);
    }

    /* SECTION 5 STYLES */
    .section5-main {
        background-size: contain;
        max-width: 360px;
        padding: 10px;
        height: 190px;
        margin-top: -50px;
    }

    .section5 {
        padding: 20px 90px;
        display: flex;
        gap: 10px;
        align-items: center;
        text-align: center;
        margin-inline: auto;
    }

    .shadow {
        width: 30px;
        height: 30px;
        margin-top: -33px;
    }

    .yellow {
        width: 30px;
        height: 30px;
        margin-top: 45px;
    }

    .section5-title {
        font-weight: 300;
        font-size: 8px;
        line-height: 8px;
        margin-top: 8px;
    }

    .map {
        max-width: 360px;
        padding: 0 20px 0 20px;
        margin-inline: auto;
        margin-top: -40px;
    }

    iframe {
        width: 330px;
        height: 200px;
    }

    .images {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px;
        margin-bottom: 0;
        margin-top: -10px;
        border: 2px solid grey;
        border-radius: 10px;
        padding: 7px;
        background-color: rgb(142, 212, 212);
    }

    .seven {
        text-align: center;
        align-items: center;
        margin-inline: auto;
        margin-top: -30px;
        padding: 20px;
        max-width: 360px;
    }

    .images img {
        width: 142px;
        height: 130px;
        object-fit: cover;
    }

    .spann {
        font-size: 18px;
        line-height: 60px;
    }

    /* FOOTER STYLES */
    .footer-main {
        padding-block: 10px;
        margin-top: -10px;
        align-items: center;
        text-align: center;
    }

    .footer {
        flex-direction: column;
        justify-content: center;
    }

    .footer-line {
        width: 320px;
        margin-block: 10px;
    }

    .descriptions {
        gap: 20px;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
    }

    h3 {
        font-weight: 300;
        font-size: 12px;
        line-height: 12px;
    }

    li {
        font-weight: 300;
        font-size: 8px;
        line-height: 8px;
        margin-top: 3px;
    }

    .last-div {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        text-align: center;
        align-items: center;
    }

    .footer-media {
        display: flex;
        gap: 10px;
    }

    .footer-media a img {
        width: 10px;
        height: 10px;
    }

    .footer-nav {
        gap: 10px;
    }

    .footer-nav a {
        font-weight: 300;
        font-size: 8px;
        line-height: 8px;
    }
}